
/* Fonts */

/* @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic;display=swap");
*/

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PTSans-Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: local("PTSans-Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
}


/* Variables */

:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #333333;
  --basic-gray: #eeeeee;
  --bck-light-gray: #888888;
  --txt-gray: #666666;

  --basic-beige: #766357;
  --light-gray: #f2f2f2;

  --basic-skyblue2: #81B3D2;
  --basic-skyblue3: #81B3D3; /* logo */

  --hotel-background: #46749c;
  --basic-white-transparent: #ffffff00;
}

/* Global */

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--bck-light-gray);
}


/* Main navigation */

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  font-weight: 700;
  font-style: normal;
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-dark);
}

/* Features and benefits */

.features {
  background-color: var(--basic-white);
}
.features-list,
.features-list-short {
  list-style: none;
}

.feature-item {
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.item-white-blue {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-skyblue2);
  text-align: center;
}

.item-white-blue h3 {
  font-size: 21px;
  font-weight: 700;
}

.item-black-white {
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  text-align: center;
}

.item-black-gray {
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-gray);
  text-align: center;
}

.item-black-white h3,
.item-black-gray h3 {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

/* Interest */

.signup {
  line-height: 24px;
  background-color: var(--basic-white);
}

.text-large {
  font-size: 30px;
  font-weight: 700;
}

  /* main buttons */

.signup-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-beige);
  text-align: center;
  border: none;
}

.signup-form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-skyblue2);
  text-align: center;
  border: none;
}

.signup-button:hover,
.signup-button:focus,
.signup-button:active,
.signup-form-button:hover,
.signup-form-button:focus,
.signup-form-button:active {
  opacity: 0.9;
}

.signup-button.disabled,
.signup-button:disabled,
.signup-form-button.disabled,
.signup-form-button:disabled {
  cursor: default;
  opacity: 0.5;
}


/* Modal window */

.modal-signup {
  background-color: var(--basic-white);
}

.signup-item {
  font: inherit;
  font-weight: 700;
  border: none;
}

.signup-item input {
  background-color: var(--light-gray);
}

.signup-item input:focus {
  /*background-color: var(--light-gray);*/
}


/* Footer */

.page-footer {
  background-color: var(--basic-white);
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-skyblue2);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-skyblue3);
}





/* ************************** */
        /* hotel.html */
/* ************************** */

/* Also use .page-body in <body> */


/*----------------------------
/* Filters section */

.filters {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--hotel-background);
  background-image: url("../img/hotel-background.png");
}

.filters-text-bold {
  font-size: 16px;
  font-weight: 700;
}

.div-input-range {
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: var(--basic-white-transparent);
  border-radius: 2px;
}

.button-show {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: var(--basic-white-transparent);
}

.button-show:hover,
.button-show:focus {}


/*----------------------------
/* Search-results section */

.livings {
  /* text-decoration: inherit; */
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Sorting type */

.livings-big-text {
  font-size: 21px;
  /*line-height: 26px;*/
  font-weight: 700;
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  opacity: 0.3;
  border-bottom: 2px dotted var(--basic-skyblue2);  /* вместо непереопределямого text-decoration*/
}

.sorting-current {
  opacity: 1;
  color: var(--basic-skyblue2);
  border-bottom: transparent;
}

.sorting-item:hover,
.sorting-item:focus,
.sorting-current:hover,
.sorting-current:focus {
  opacity: 0.8;
  color: var(--basic-skyblue2);
}



/* Living list */

.living-list {
  list-style: none;
}

.button-details {
  /*font-size: 12px;*/
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;

  border: none;
  background-color: var(--basic-skyblue2);
}

.button-details:hover,
.button-details:focus {}

.button-reservation {
  /*font-size: 12px;*/
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;

  border: none;
  background-color: var(--basic-beige);
}

.button-reservation:hover,
.button-reservation:focus {}
